*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    overflow: hidden;
}
.container{
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.panel{
    width: 5rem;
    height: 90vh;
    background-size:cover;
    background-position: center; 
    margin: 20px 5px; 
    border-radius: 15px;
    position: relative;
    transition: width .5s ease-in;
}
.panel h3{
   position: absolute;
   bottom: 20px;
   left: 5px;
   color: white;
   opacity: 0;
   transition: opacity .4s ease-in .4s;
   font-weight: 700;
   font-size: 2rem;
}
.panel.active{
   width: 25rem;

}

.panel.active h3{
    opacity: 1;
}